$head-color: rgba(36, 8, 54, 0.92);
$orange-text-color: #FF7E30;
$footer-contacts-color: $grey-color5;
$main-header-menu-color:#FF8132;
$h2-header-color: $black-color;

$shadow-color: rgba(0, 0, 0, 0.25);

$standart-text-color: #252525;
$primary-text-color: #F7EE91;
$secondary-text-color: #353239;
$alt-text-color: $white-color
