.header_main{
    min-height: 530px;
    background: url('../../images/main-header-bg.jpg') no-repeat center;
    background-size: cover;
    @media (min-width: 576px){
        min-height: 725px;
    }
}
.header__menu_main{
    a{
        color: $main-header-menu-color;
        text-decoration: underline;
    }
}
.header__banner{
    position: relative;
    padding-top: 40px;
}

.header__header{
    max-width: 500px;
    margin-bottom: 58px;
}

.h1-main{
    color: #FFFFFF;
}