.header_main{
    .button{
        width: 318px;
        height: 75px;
        color: #FFFFFF;
        background: radial-gradient(121.87% 831.16% at 5.03% 84.67%, #FF2D02 0%, #FFA547 100%);
        border-radius: 90px;
    }
}