.logo{
    a{
        @extend %flex-center-row;
        @extend %clean-link;
        color: $white-color;
    }
}

.logo__img{
    img{
       @extend %img-fill;
    }
}

.header__logo, .footer__logo{
    .logo__img{
        width: 103px;
        height: 96px;
        @media (min-width: 992px){
            width: 133px;
            height: 126px;
        }
    }
}

// .footer__logo{
//     max-width: 250px;
//     margin-bottom: 29px;
//     .logo__img{
//         width: 63px;
//         height: 55px;
//         margin-right: 33px;
//     }
// }

.logo__bg{
    position: absolute;
    width: 397px;
    height: 344px;
    left: 0px;
    bottom: 0px;
}