.menu{
    a{
        @extend %clean-link;
    }
    @media (min-width: 768px){
        margin-left: auto;
    }
    @media (min-width: 1400px){
        margin-left: 0px;
    }
}

.header__menu{
    position: relative;
    li{       
        @media (min-width: 992px){
            margin: 0 10px;
            padding-top: 8px
        }
    }
    a{
        color: $white-color;
        padding: 10px;
    }
    .menu__list{
        display: none;
        @media (min-width: 768px){
            display: flex;
        }
    }
}

.menu-mobile{
    display: none;
    position: absolute;
    width: 100%;
    min-height: 100px;
    background-color: $white-color;
    box-shadow: 0 0 10px $shadow-color;
    left: 0px;
    top: 120px;
    padding: 10px 0px 15px;
    z-index: 1;
    a{
        color: $black-color;
    }
}
.menu-mobile_active{
    display: flex;
}

.menu-mobile, .menu-mobile_active{
    @media (min-width: 768px){
        display: none;
    }
}

.footer__menu{
    a{
        color: $orange-text-color;
    }
}

