.footer{
    min-height: 100px;
    background: url('../../images/footer-bg.jpg') no-repeat center;
    background-size: cover;
    padding: 0px;
}
.footer__descripition{
    max-width: 300px;
    .text{
        color: $white-color;
    }
}
.footer__menu{
    margin-top: 12px;
}
.footer__contacts{
    float: right;
    margin-top: 17px;
    .text{
        color: $footer-contacts-color;
    }
}